.col-1{
    display: flex;
    flex:1;
    max-width: 20% !important;


}

.col-2{
    display: flex;
    flex:2;
    max-width: 80% !important;
}


.col-3{
    display: flex;
    flex:3
}

.block{
    /* background-color: #e0e0e0; */
    background-color: white;
    padding:1rem;
    margin:.5rem;
    border-radius:.5rem;
    
}

.cartMain{
    width:55vw;

}

@media(max-width:700px){

    .cartMain{
        width:80vw;

    }
}